.recipe-card {
  max-width: 400px;
}

img{
  width: 100%;
  height: auto;
}

.recipe-list{
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

mat-card{
  margin: 1em;
  padding: 0;
  padding-top: 1em;
}

mat-card-content {
  padding: 1em;
  max-height: 5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-row {
  overflow: hidden;
}

.description-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorites-container {
  align-items: flex-start;
}
.favorites-container > mat-icon {
  padding-left: 0.25em;
}