<div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutJustify="center" class="recipe-list">
    <ng-container *ngIf="!_loading; else loadingTemplate">
        <ng-container *ngFor="let r of recipes">
            <mat-card class="recipe-card" (click)="onClick(r._id.$oid)">
                <mat-card-header>
                    <mat-card-title>{{r.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <button mat-button
                            (click)="routeToProfile(r.created_by._id.$oid)">{{r.created_by.email}}</button>
                    </mat-card-subtitle>
                </mat-card-header>
                <img src="assets/beer_placeholder.jpeg" />
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="space-between" class="content-row">
                        <p class="description-container">{{r.description}}</p>
                        <!-- Need the star favorite icon... -->
                        <div fxLayout="row" class="favorites-container">
                            {{r.favorites}}
                            <mat-icon (click)="toggleRecipeFavorite(r._id.$oid)">star</mat-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </ng-container>
    <ng-template #loadingTemplate>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>